.wp-block-group {
  &.alignfull .wp-block-group__inner-container {
    // max-width: $content-width-max;
    // max-width: var(--alignwide-width);
    // margin-left: auto;
    // margin-right: auto;

    // Nested alignfull should break out of inner container
    .alignfull {
      // width: 100vw;
      // max-width: none;
      // margin-left: calc((100vw - var(--alignwide-width)) / 2 * -1);
    }
  }

  &.alignwide,
  &.alignfull {
    // non-aligned content within alignwide and alignfull should have alignwide width
    .wp-block-group__inner-container > *:not(.alignwide):not(.alignfull):not(.alignleft):not(.alignright):not(.has-text-align-center) {
      // max-width: $content-width-max;
      // max-width: var(--content-width);
      // margin-left: auto;
      // margin-right: auto;

      // align content to the left on large screens
      @include mq($from: large) {
        // margin-left: 0;
      }
    }
  }

  @if not $is-frontend {
    @at-root {
      [data-align="full"] .wp-block-group__inner-container {
        max-width: $content-width-max;
        max-width: var(--alignwide-width);
        margin-left: auto;
        margin-right: auto;

        // Nested alignfull should break out of inner container
        // Override core specificity issue
        .wp-block.wp-block.wp-block[data-align="full"] {
          width: 100vw;
          max-width: none;
          margin-left: calc((100vw - var(--alignwide-width)) / 2 * -1);
        }
      }

      [data-align="full"] > .wp-block-group,
      [data-align="wide"] > .wp-block-group {
        .wp-block {
          max-width: none;
        }

        // non-aligned content within alignwide and alignfull should have alignwide width
        .wp-block-group__inner-container > *:not(.alignwide):not(.alignfull):not(.alignleft):not(.alignright):not([data-align]):not(.has-text-align-center):not(.is-reusable) {
          max-width: $content-width-max;
          max-width: var(--content-width);
          margin-left: 0;
          margin-right: auto;
        }
      }
    }
  }

  // Blocks with backgrounds have a padding.
  &.has-background {
    padding: 15px;

    @include breakpoint-value($block-paddings) {
      $padding: $-bp-value;

      padding: $padding $padding;

      // Let alignfull stretch to the edge.
      [data-align="full"],
      .alignfull {
        margin-left: -$padding;
        margin-right: -$padding;
        max-width: calc(100% + #{$padding * 2});

        @if not $is-frontend {
          width: 100vw;
        }
      }
    }
  }
}
