.wp-block-image {
  figcaption {
    font-size: $fontsize-body-s;
    text-align: center;
  }

  .entry-content &--featured {
    margin-bottom: $spacing-2-xl !important;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    height: 300px;

    @include mq($from: large) {
      height: 400px;
    }

    .post.type-post & {
      margin-bottom: $spacing-5-xl !important;
    }

    > img {
      height: 100%;
      object-fit: cover;
    }
  }
}
